@import url('fonts.css');

* {
    font-family: 'DMSans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: rgba(105, 121, 96, 1)
}

body {
    background-color: rgba(245, 245, 245, 1);
    height: 100vh;
}

.navbar {
    border-bottom: 1.5px solid rgba(105, 121, 96, 1);
}

#logo {
    height: 5rem;
    margin-left: 3rem;
}

.navbar-brand {
    color: rgba(105, 121, 96, 1);
}

#train-btn {
    background-color: rgba(105, 121, 96, 1);
    color: rgba(245, 245, 245, 1);
    padding: 1rem;
    border-radius: 25px;
    font-weight: bold;
}

#train-btn:hover {
    background-color: rgb(78, 90, 71);
    color: rgba(245, 245, 245, 1);
}

#apply-btn {
    background-color: transparent ;
    color: rgba(105, 121, 96, 1);
    border: 1px solid rgba(105, 121, 96, 1);
    padding: 1rem;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 1rem;
}

#apply-btn:hover {
    background-color: rgba(105, 121, 96, 1);
    color: rgba(245, 245, 245, 1);
}

.header-home {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    width: 40rem;
}

.body-container {
    margin: 5rem 8rem;
}

p {
    width: 40rem;
}

.below-nav {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

#home-img {
    height: 30rem;
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

li {
    font-size: 25px;
    padding-right: 4.5rem;
}

#home {
    text-decoration: underline;
}