body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-btn {
    margin-top: 1rem;
}

.inputPassword5 {
    border-color: #697960;
}