@import url('fonts.css');

* {
    font-family: 'DMSans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: rgba(105, 121, 96, 1);
}

body {
    background-color: rgba(245, 245, 245, 1);
}

.logo {
    height: 9rem;
    margin-bottom: 3rem;
}

.btn {
    margin: 2rem 0;
    background-color: rgba(105, 121, 96, 1);
    font-weight: bold;
    color: rgba(245, 245, 245, 1);
    width: 9rem;
    height: 3rem;
}

.col {
    text-align: center;
}

.horizontal-line {
    color: rgba(105, 121, 96, 1);
    border-bottom: 1.5px solid rgba(105, 121, 96, 1);
}

.acc-check {
    margin-top: 2rem;
}

#signup {
    background-color: transparent;
    border: 1px solid rgba(105, 121, 96, 1);
    color: rgba(105, 121, 96, 1);
}

#img-login {
    max-width: 100%;
    height: auto; 
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 30rem;
}