@import url('fonts.css');

* {
    font-family: 'DMSans', sans-serif;
    font-size: 20px;
}

body {
    background-color: rgba(245, 245, 245, 1);
}

.btn {
    margin-top: 2rem;
    background-color: rgba(105, 121, 96, 1);
    font-weight: bold;
    color: rgba(245, 245, 245, 1);
    width: 9rem;
    height: 3rem;
}

.col {
    text-align: center;
}